.header {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  width: 100%;
  background-color: var(--cl-light-primary);
  flex: none;
  padding: 0 1rem;
}


.tagsContainer {
  flex: none;
  padding: 24px 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
  gap: 24px;
}