.CardListFavorite {
  display: flex;
  align-items: center;
  background-color: var(--cl-light-primary);
  /* box-shadow: 1px 2px 8px var(--cl-dark-secondary);
  -webkit-box-shadow: 1px 2px 8px var(--cl-dark-secondary);
  -moz-box-shadow: 1px 2px 8px var(--cl-dark-secondary); */
  border-radius: var(--br-sm);
  gap: .75rem;
}
  .CardListFavorite img {
    width: 104px;
    height: 104px;
    border-radius: var(--br-sm) 0 0 var(--br-sm);
    flex: none;

  }

  .buttonFloat {
    position: relative;
    background-color: antiquewhite;

  }

  .itemData {
    gap: .18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }

  .colorSize{
    display: flex;
    align-items: center;
    gap: .25rem;
  }
  
  .priceRating{
    gap: 28px;
    display: flex;
    align-items: center;
  }

  .rating {
    display: flex;
    align-items: center;
  }