.list {
  display: flex;
  flex-direction: column;
}

.listItem {
  height: 47px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--cl-dark-secondary);
  padding: 0 1rem;
}

.listView {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  padding: 0 1rem;
  user-select: none;
}

.listView:hover {
  background-color: var(--hv-light-primary);
}

.infoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}