.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  flex: none;
}

.default{
  display: grid;
  width: 20px;
  height: 20px;
  place-content: center;
  border: 1px solid ;
  border-radius: var(--br-xs);
  flex: none;
}

.unchecked {
  border-color: var(--cl-dark-secondary);
  color: #ffffff00;
}
.checked {
  border-color: var(--cl-dark-primary);
  background-color: var(--cl-dark-primary);
  color:var(--cl-light-primary);
}